<mat-drawer-container class="navbar__container">
    <mat-drawer [ngClass]="navbarClass" mode="side" autosize opened="true">
      <div Class="logo-container">
          <mat-icon aria-hidden="false" 
                    aria-label="Example home icon"
                    [ngClass]="iconClass">
            home
          </mat-icon>
          <p [ngClass]="titleClass">AppName</p>
          <button [ngClass]="buttonClass"  
                  mat-button 
                  (click)="toggle()"> 
                  <mat-icon aria-hidden="false" 
                            aria-label="Example home icon">
                    menu
                  </mat-icon>
          </button>
      </div>
    </mat-drawer>
    <mat-drawer-content [ngClass]="contentClass">
      <toolbar></toolbar>
      <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>